<!DOCTYPE html>
<html lang="zh" ng-app>
<head>
	<meta charset="utf-8" />
	<link href="http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<title>李明学Drupal</title>
	<style type="text/css">
		.logo{padding:40px 0 0 0;}
		.container{background:url('assets/img/index-lan-die.jpg') no-repeat bottom right;min-height:600px;}
	</style>
<base target="_blank" />
</head>
<body>
<div class="container">

	<div ng-controller="resourcesCtrl">
		<div class="row">
			<div class="span3 logo">
				<img src="assets/img/index-programmer.jpg" />
			</div>
			<div class="row">
				<div class="span9">
					<h1>Hi~ 我们一起学Drupal吧！</h1>
					<hr />
					<p>
					<a href="http://kickass.to/drupal-7-create-and-operate-any-type-of-website-quickly-and-efficiently-pdf-t5127609.html"><button class="btn btn-danger"><i class="icon-arrow-down icon-white"></i> 怎么善用Drupal资源？</button></a>
					<a href="http://kickass.to/drupalize-module-development-for-drupal-7-t6751440.html"><button class="btn btn-info"><i class="icon-arrow-down icon-white"></i> 怎么开发Drupal模块？</button></a>
					<a href="http://kickass.to/buildamodule-drupal-7-theming-essentials-t6751353.html"><button class="btn btn-info"><i class="icon-arrow-down icon-white"></i> 怎么制作Drupal主题？</button></a>
					<a href="https://www.drupal.org/case-studies"><button class="btn btn-success"><i class="icon-share-alt icon-white"></i> Drupal实际应用案例！</button></a>
					</p>
				</div>
				<div class="span9">
					<input ng-model="query" type="text" placeholder="输入关键词..." />
					<div class="list">
						<ol>
							<li ng-repeat="resource in resources | filter:query | limitTo:20"><a href="html/{{resource.url}}.html" title="{{resource.title}}">{{resource.title}}</a></li>
						</ol>
					</div>
					<a href="page/liuyan.html" target="_self"><button class="btn btn-warning"><i class="icon-comment icon-white"></i> 留言板</button></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular.min.js"></script>
<script type="text/javascript">
	function resourcesCtrl($scope, $http, $templateCache){
		$http.get('assets/blog.json', {cache:$templateCache}).success(function(data){
			$scope.resources = data;
		});
	};
</script>

</body>
</html>
